.word-counter {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  textarea {
    margin: auto;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border: 2px solid black;
  }

  p{
    text-align: left;
    margin-left: 10px;
  }
  
  